# Dependencies
node_modules

# Build output
.next
.open-next/
out
build

# Local env files
.env*
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
